<div class="blog-indexes">
    <%
    for (var docno = 0; docno < indexDocuments.length; docno++) {
        var doc = indexDocuments[docno];
        %>
        <a href="/<%= doc.renderPath %>"><h4><%= doc.docMetadata.title %></h4></a>
        <span><%= doc.docMetadata.teaser %></span>
    <% } %>
</div>
