<div class="blog-prev-next-wrapper">
    <a class="blog-prev-link" style="padding: 15px;"
        href="/<%= prevDoc.renderPath %>">
        <span style="float: left">&laquo;&laquo;&laquo;&laquo;&laquo;&laquo; <%= prevDoc.docMetadata.title %></span></a>
    <a class="blog-next-link" style="padding: 15px;" 
        href="/<%= nextDoc.renderPath %>">
        <span style="float: right"><%= nextDoc.docMetadata.title %> &raquo;&raquo;&raquo;&raquo;&raquo;&raquo;</span></a>
</div>