<a 
   rel="alternate" 
   type="application/rss+xml"
   href="{{ feedUrl | safe }}">
        <img src="/img/rss_button.gif" align="middle" width="40px"
            {{ if title }}title="{{ title | safe }}"{{ endif }} />
</a>
