<div>
    <a style="padding-left: 10px; padding-right: 10px;" href="/<%= prevDoc.renderpath %>"><span style="float: left">&laquo;&laquo;&laquo;&laquo;&laquo;&laquo; <%= prevDoc.metadata.title %></span></a>
    <a style="padding-left: 10px; padding-right: 10px;" href="/<%= nextDoc.renderpath %>"><span style="float: right"><%= nextDoc.metadata.title %> &raquo;&raquo;&raquo;&raquo;&raquo;&raquo;</span></a>
</div>