<div class="ak-blog-news-river-container">
    <a href="{{ feedUrl | safe }}"><img src="/img/rss_button.gif" align="right" width="50"/></a>
    {% for doc in documents %}
        <span class="ak-blog-news-river-item">
            <a href="/{{ doc.renderPath | safe }}">{{ doc.docMetadata.title | safe }}</a>
            <span>({{ doc.docMetadata.publicationDate | safe }})
            {{ doc.docMetadata.teaser }}</span>
        </span>
    {% endfor %}
</div>
