<div>
    <span style="float: left">&laquo; <a href="/<%= prevDoc.renderpath %>"><%= prevDoc.metadata.title %></a></span>
    <span style="float: right"><a href="/<%= nextDoc.renderpath %>"><%= nextDoc.metadata.title %></a> &raquo;</span>
</div>